# Ignore Directories
**/obj/*
**/.vs/*
**/bin/Debug/*
.idea/*

# Ignore Extensions
*.ide
*.lock
*.pdb
*.cache
*.CopyComplete
*.ide-wal
*.ide-shm
*.suo

# Ignore Specific Files
.DS_Store
GamemodeManager.sln.DotSettings.user
GamemodeManager/obj/Debug/GamemodeManager.csproj.FileListAbsolute.txt
